@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #F2F2F2;
}

header {
  background: #4A90E2;
}

header nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

header nav img {
  margin: 15px;
  padding: 0 10px;
}

header nav div {
  margin: 15px;
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
}

header nav div span {
  margin: 5px;
  font-size: 20px;
}

header nav div i {
  margin: 5px;
}

.postList {
  display: flex;
  flex-direction: column;
}

.postItem {
  background: #FFFFFF;
  margin: 25px 150px 50px 150px;
  padding: 0 10px;
}

.postItem img {
  max-width: 50px;
  border-radius: 50%;
}

.postHeader {
  margin: 10px 0px 0px 10px;
  display: flex;
}

.postHeader .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
  margin-left: 10px;
}

.postHeader .details span:first-child {
  font-weight: bold;
  font-size: 15px;
}

.postHeader .details span:last-child {
  color: gray;
}

.postContent {
  margin: 20px 0px 30px 15px;
}

.commentItem {
  display: flex;
  margin-left: 10px;
}

.commentBox {
  display: flex;
  align-items: center;
  background: #EEEEEE;
  margin-left: 20px;
}

.commentItem img {
  max-width: 35px;
  border-radius: 50%;
}

#authorName {
  font-weight: bold;
}

#commentContent {
  margin-left: 5px;
}